.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    color:blue;
}

.form input {
    margin-left: 10px;
    padding: 5px;
}
.form button {
    width: 200px;
    height: 30px;
    font-style: italic;
    border-radius: 8px 0px;
    box-shadow: rgb(147, 112, 201) 1px 1px 3px 0px;
}

.form button:hover {
    background: linear-gradient(0deg, rgb(178, 155, 197) 44%, rgb(247, 177, 177) 100%);
    color: green;
    font-weight: 600;
}